html, body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    /* overflow: hidden; */
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

.status-bar, .status-bar > * {
    height: 44px;
    min-height: 44px;
}

.main-panel, 
.main-panel > .row, 
.method-list, 
.method-list > .list-group, 
.request-panel,
.response-panel {
    height: calc(100vh - 44px);
}

.response-panel>* {
    height: 100%;
}

.method-list {
    padding-left: 0%;
    padding-right: 0%;
    overflow: scroll;
}

.CodeMirror {
    font-size: 10px;
}

.code-preview, .code-preview>* {
    height: 100%;
    overflow: hidden;
}

.preview-area>.CodeMirror,
.response-area>.CodeMirror {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.response-area,
.preview-area {
    flex: 1 1 auto;
    margin-top: 0;
    height: 100%;
    position: relative;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}