html, body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    /* overflow: hidden; */
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

.status-bar, .status-bar > * {
    height: 44px;
    min-height: 44px;
}

.main-panel, 
.main-panel > .row, 
.method-list, 
.method-list > .list-group, 
.request-panel,
.response-panel {
    height: calc(100vh - 44px);
}

.response-panel>* {
    height: 100%;
}

.method-list {
    padding-left: 0%;
    padding-right: 0%;
    overflow: scroll;
}

.CodeMirror {
    font-size: 10px;
}

.code-preview > .card > .card-body > .form-group {
    max-height: 150px;
}
