{{define "public-modal"}}

<div class="modal fade" id="copyBlueprintModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="copyBlueprintModalLabel">Copy To My Blueprint</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-copy-blueprint" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="copy-blueprint-name" class="col-form-label">BlueprintName:</label>
                        <input class="form-control" id="copy-blueprint-name" name="blueprint-list" required>
                        <div class="invalid-feedback">
                            BlueprintName is required.
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="copy-blueprint">Add</button>
            </div>
        </div>
    </div>
</div>
{{end}}
