{{define "method-list"}}

<div class="list-group list-group-flush border-bottom scrollarea">

    {{range $_, $s := .Services}}
    {{range $_, $m := $s.Methods}}
    <a data-grpc-method-name='{{ $m.GRPCMethodName }}' data-input-schema='{{ $m.InputSchema }}'
        data-service-method='{{ $m.ServiceMethod }}' href="#"
        class="service-method list-group-item list-group-item-action py-3 border-bottom" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
            {{ $m.ServiceMethod }}
            <!-- <span class="dot bg-success"></span> -->
        </div>
        <div class="col-10 mb-1 small text-black-50">{{ $m.GRPCMethodName }}</div>
    </a>
    {{end}}
    {{end}}

</div>

{{end}}
