{{define "path-config"}}

<div class="dropdown">
    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="serviceMenu"
            data-bs-toggle="dropdown" aria-expanded="false">
        {{if eq .ServiceIdentifier ""}}
        [Select To Start]
        {{else}}
        {{ .ServiceIdentifier }}
        {{end}}
    </button>
    <ul id="serviceMenuContent" class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="serviceMenu">
        <input type="text" class="form-control" placeholder="Search..." id="serviceMenuSearch">
        {{range $_, $pf := .ProtoFiles}}
        <li><a class="dropdown-item" href="/admin/path/{{$pf.Meta.ImportPath}}">{{ $pf.Filename }}</a>
        </li>
        {{end}}
    </ul>
</div>

<div class="border-bottom">
    <div class="input-group mb-3 mt-3" style="width: 600px">
        <div class="input-group-prepend">
            <span class="input-group-text text-primary">Target</span>
        </div>
        <input id="target-addr" type="text" class="form-control" placeholder="tcp://127.0.0.1:9000" value="{{ .PreferTarget }}" >
        <button id="update-button" class="btn btn-success" type="button">Update</button>
    </div>

</div>

<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successLabel">提示</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                更新成功！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="failModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="failLabel">提示</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                更新失败！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>


{{end}}
