{{define "request-panel"}}
<div class="border-bottom">
    <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text text-primary" id="basic-addon1">Method</span>
        </div>
        <input type="text" class="form-control" placeholder="Method Name" value="" aria-describedby="basic-addon1"
            disabled>
        <button class="btn btn-outline-success" type="button">Send</button>
    </div>
    <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text text-primary" id="basic-addon1">Target</span>
        </div>
        <input type="text" class="form-control" placeholder="tcp://127.0.0.1:9000" value=""
            aria-describedby="basic-addon1">
    </div>
</div>

<div class="request-editor pt-2 border-bottom pb-2">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="#">Metadata</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Body</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="form-group">
                <textarea class="form-control" id="requestBody"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="code-preview pt-2 pb-2">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Preview</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="preview-area">
                <textarea class="form-control" id="preview"></textarea>
            </div>
        </div>
    </div>
</div>

{{end}}