{{define "request-panel"}}
<div class="border-bottom">
    <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text text-primary">Target</span>
        </div>
        <input id="target-addr" type="text" class="form-control" placeholder="tcp://127.0.0.1:9000"
            value="{{ .PreferTarget }}">
    </div>

    <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text text-primary">Method</span>
        </div>
        <input id="method-name" type="text" class="form-control" placeholder="/<package>.<service>/<method>" value=""
            disabled>
        <button id="send-button" class="btn btn-outline-success" type="button">Send</button>
    </div>
</div>

<div class="request-editor pt-2 border-bottom pb-2">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Metadata</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Body</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="form-group">
                <textarea class="form-control" id="requestBody"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="code-preview pt-2 pb-2">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item me-auto">
                    <a class="nav-link active" aria-current="true" href="#">Preview</a>
                </li>
                <li class="nav-item">
                    <select class="form-select form-select-sm">
                        <option selected>curl</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="preview-area">
                <textarea class="form-control" id="preview"></textarea>
            </div>
        </div>
    </div>
</div>

{{end}}