<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/assets/statics/dist/vendor.bundle.js"></script>
    <script src="/assets/statics/dist/sidebar.bundle.js"></script>
    <link rel="icon" href="/favicon.ico">
    <title>berrypost-admin</title>
</head>
<body>
<div class="d-flex flex-row">
    {{template "manage-sidebar" .}}
    <div class="center flex-fill" style="margin: 40vh">
        <h1>
            Welcome to berrypost-admin! :0
        </h1>
    </div>
</div>

</body>
</html>
