<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="/assets/statics/dist/vendor.bundle.js"></script>
  <script src="/assets/statics/dist/sidebar.bundle.js"></script>
  <script src="/assets/statics/dist/invoke.bundle.js"></script>
  <script src="/assets/statics/dist/config.bundle.js"></script>
  <link rel="icon" href="/favicon.ico">
  <title>berrypost-admin</title>
</head>
<body>
  <h2 style="padding-top: 30px">
    Path Configuration
  </h2>
  {{template "path-config" .}}
  <div class="bg-white border-start border-end" style="height: 70vh;overflow: scroll" >
    {{template "method-list" .}}
  </div>

</body>
</html>
