<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <script src="/assets/statics/dist/vendor.bundle.js"></script>
  <script src="/assets/statics/dist/index.bundle.js"></script>

  <title>{{ .Name }}</title>
</head>

<body class="d-flex h-100 text-center text-dark bg-white">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <div class="float-md-start main-icon"></div>
        <h3 class="float-md-start mb-0">{{ .Name }}</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </nav>
      </div>
    </header>

    <main class="px-3">
      <h1>{{ .Name }}</h1>
      <div class="lead-container mx-auto">
        <p class="lead">{{ .Description }}</p>
      </div>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-dark bg-white">Learn more</a>
      </p>
    </main>

    <footer class="mt-auto text-dark-50">
      <p>Fork berrypost on <a href="https://github.com/realityone/berrypost" class="text-dark">GitHub</a>.</p>
    </footer>
  </div>
</body>

</html>