<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <script src="/assets/statics/dist/vendor.bundle.js"></script>
  <script src="/assets/statics/dist/index.bundle.js"></script>

  <title>berrypost</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">berrypost</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </nav>
      </div>
    </header>

    <main class="px-3">
      <h1>berrypost</h1>
      <p class="lead">Berrypost is a simple gRPC service debugging tool, built for human beings.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
      </p>
    </main>

    <footer class="mt-auto text-white-50">
      <p>Fork berrypost on <a href="https://github.com/realityone/berrypost" class="text-white">GitHub</a>.</p>
    </footer>
  </div>
</body>

</html>