<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/assets/statics/dist/vendor.bundle.js"></script>
    <script src="/assets/statics/dist/sidebar.bundle.js"></script>
    <link rel="icon" href="/favicon.ico">
    <title>berrypost-admin</title>
</head>
<body>
<div class="d-flex flex-row">
    {{template "manage-sidebar" .}}
    <div class="center flex-fill" style="margin: 20px 20px 20px 20px">
        <iframe src="/admin/path" height="100%" width="100%" id="iframe" sandbox="allow-same-origin allow-top-navigation allow-forms allow-scripts">
        </iframe>
    </div>
</div>


</body>
</html>
