{{define "blueprint-bottom-left"}}

<div class="d-flex justify-content-end bottom-left p-2">
    <div class="btn-group p-1" role="group" aria-label="Basic outlined example">
        {{if ne .ServiceIdentifier ""}}
        <button type="button" class="btn btn-outline-success" id="delete-blueprint-modal">
            <i class="bi bi-folder-minus"></i>
        </button>
        {{end}}
        <button type="button" class="btn btn-outline-success" id="blueprint-modal">
            <i class="bi bi-folder-plus"></i>
        </button>
<!--        <button type="button" class="btn btn-outline-success" id="method-modal">-->
<!--            <i class="bi bi-plus-circle"></i>-->
<!--        </button>-->
<!--        <button id="btnGroupDrop1" type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            <i class="bi bi-three-dots"></i>-->
<!--        </button>-->
<!--        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">-->
<!--            <li><a class="dropdown-item" href="#">Delete</a></li>-->
<!--            <li><a class="dropdown-item" href="#">..</a></li>-->
<!--        </ul>-->
    </div>
    <button type="button" class="btn btn-primary">
        <a href="/management/invoke" style="text-decoration: none;color:white"><i class="bi bi-arrow-repeat"></i>Proto</a>
    </button>
</div>
{{end}}

