{{define "blueprint-modal"}}

<div class="modal fade" id="newBlueprintModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newBlueprintModalLabel">New Blueprint</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="blueprint-name" class="col-form-label">BlueprintName:</label>
                        <input type="text" class="form-control" id="blueprint-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="add-blueprint">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newMethodModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newMethodModalLabel">New Method</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <fieldset disabled>
                        <label for="new-blueprint-name" class="col-form-label">Blueprint Name:</label>
                        <input id="new-blueprint-name" class="form-control">
                    </fieldset>
                    <label for="file-name" class="col-form-label">FileName:</label>
                    <br>
                    <select name="file-name" id="file-name" class="selectpicker form-control" data-live-search="true" title="Select a file">
                    {{range $_, $pf := .ProtoFiles}}
                    <option value="{{$pf.Meta.ImportPath}}">{{ $pf.Filename }}</option>
                    {{end}}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="new-method-name" class="col-form-label">MethodName:</label>
                    <br>
                    <select multiple name="new-method-name" id="new-method-name" class="selectpicker form-control" data-live-search="true" title="Select methods" data-hide-disabled="true" data-actions-box="true" data-virtual-scroll="false">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="add-method">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteMethodModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteMethodModalLabel">Delete Method</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure to delete this method from the blueprint?
                <hr>
                <fieldset disabled>
                    <label for="deleteMethodModal-blueprint" class="col-form-label">Blueprint Name:</label>
                    <input id="deleteMethodModal-blueprint" class="form-control">
                </fieldset>
                <fieldset disabled>
                    <label for="deleteMethodModal-method" class="col-form-label">Method Name:</label>
                    <input id="deleteMethodModal-method" class="form-control">
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="delete-method">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteBlueprintModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteBlueprintModalLabel">Delete Method</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure to delete this blueprint?
                <hr>
                <fieldset disabled>
                    <label for="deleteBlueprintModal-blueprint" class="col-form-label">Blueprint Name:</label>
                    <input id="deleteBlueprintModal-blueprint" class="form-control">
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="delete-blueprint">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shareBlueprintModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shareBlueprintModalLabel">Share Blueprint</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="url" placeholder="" aria-label="url" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="copy-url">COPY</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
{{end}}

